<launch>
<arg name="scan_topic" default="/scan" />
<node pkg="tf" type="static_transform_publisher" name="laser_to_base_link" args="0 0 0.54 0 0 0 /base_link /base_scan 20" />
<node name="urg_node" pkg="urg_node" type="urg_node">
   <param name="frame_id" value="/base_scan" />
   <param name="ip_address" value="192.168.0.10" />
  </node>
</launch> 