<launch>
  <master auto="start"/>

  <arg name="start_x" value="4.5" />
  <arg name="start_y" value="44.0" />
  <arg name="start_psi" value="-1.57079632679" />

  <!-- Run the map server -->
  <!--node name="map_server" pkg="map_server" type="map_server" args="$(find nabtesco_serial)/map/my_map.pgm my_map_resolution"/-->

  <!--- Run AMCL -->
  <!--include file="$(find amcl)/examples/amcl_omni.launch" /-->
  <node pkg="tf" type="static_transform_publisher" name="map2world" args="$(arg start_x) $(arg start_y) 0 0 0 0 /world /map 30" />
  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find nabtesco_serial)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find nabtesco_serial)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find nabtesco_serial)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find nabtesco_serial)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find nabtesco_serial)/config/base_local_planner_params.yaml" command="load" />
  </node>
</launch>